.level[data-level="0"] .page[data-page="0"] {
  background-image:url('images/bg-about.jpg');
}

.level[data-level="0"] .page[data-page="1"] {
  background-image:url('images/bg-technologies.jpg');
}

.level[data-level="0"] .page[data-page="2"] {
  background-image:url('images/bg-projects.jpg');
}

.level[data-level="0"] .page[data-page="3"] {
  background-image:url('images/bg-customers.jpg');
}

.level[data-level="0"] .page[data-page="4"] {
  background-image:url('images/bg-contact.jpg');
}

.level[data-level="1"] .page[data-page="2"] {
  background-image:url('images/projects/project-testaviva.jpg');
}

.level[data-level="2"] .page[data-page="2"] {
  background-image:url('images/projects/project-kontraktmaskinen.jpg');
}

.level[data-level="3"] .page[data-page="2"] {
  background-image:url('images/projects/project-sikkerarv.jpg');
}