html, body {
  color: white;
  /*height: 100%;*/
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 0 !important;
  height: 0 !important;
}

body {
  font-family: 'Open Sans', sans-serif;
}

p, label {
  color: white;
}

header .top-bar {
  background-color: rgba(0,0,0,.7);
  height: 55px;
  width: 100%;
}

header .top-bar-title {
  font-size: 1.5rem;
}

header .top-bar-toggle {
  position: fixed;
  right: 20px;
  top: 15px;
}

header .menu {
  background: none;
}

header .top-bar-link-active {
  text-decoration: underline;
}

section {
  width: 500%;
}

section .page {
  width: 20%;
  float: left;
}

section .clear {
  clear: both;
}

.page {
  width: 100%;
  min-height: 100%;
  /*height: 100%;
  overflow: hidden;*/
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  position: relative;
}

.page-inner {
  width: 100%;
  /*height: 100%;*/
  min-height: 100%;
  background-color: rgba(0, 0, 0, .3);
}

.page-content {
  background-color: rgba(0, 0, 0, .4);
  margin-top: 100px;
  padding: 1rem;
  margin-bottom: 2rem;
}

.page-content + .page-content {
  margin-top: 0;
}

.page-down {
  cursor: pointer;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 100px;
  left: 0;
  animation: jump 4s infinite;
}

.page-down p {
  margin-bottom: -10px;
  font-size: 1.3rem;
}

.page-down i {
  font-size: 4rem;
}

@keyframes jump {
  0% { bottom: 20px; }
  10% { bottom: 0; }
  90% { bottom: 0; }
  100% { bottom: 20px;}
}

@media screen and (max-width: 39.9375em) {
  #responsive-menu {
    width: calc(100% + 20px);
    background-color: rgba(0,0,0,.7);
    margin: 11px -10px 0 -10px;
  }

  header .menu {
    flex-direction: column;
  }

  .page-content {
    margin-top: 70px;
  }
}

textarea {
  min-height: 100px;
}

section[data-level] {
  display: none;
  overflow: hidden;
}

section[data-level="0"] {
  display: block;
}
