@import 'levels';

html, body {
  color: #fcfcfc;
  /*height: 100%;*/
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 0 !important;
  height: 0 !important;
}

body {
  font-family: 'Open Sans', sans-serif;
}

p, label {
  color: white;
  text-align: justify
}

header .top-bar {
  background-color: rgba(0,0,0,.8);
  height: 55px;
  width: 100%;
}

header .top-bar-title {
  font-size: 1.5rem;
}

header .top-bar-toggle {
  position: fixed;
  right: 20px;
  top: 15px;
}

header .menu {
  background: none;
}

header .top-bar-link-active {
  text-decoration: underline;
}

section {
  width: 500%;
}

section .page {
  width: 20%;
  float: left;
}

section .clear {
  clear: both;
}

.page {
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
  position: relative;
}

.page-inner {
  width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, .3);
}

.page-inner > .row {
  padding-top: 100px;
}

.page-inner > .row + .row {
  padding-top: 0;
}

.page-content {
  background-color: rgba(0, 0, 0, .8);
  padding: 1rem;
  margin-bottom: 2rem;
}

.page-down-container {
  position: relative;
}
.page-down {
  cursor: pointer;
  text-align: center;
  width: 100%;
  position: absolute;
  top: 20px;
  left: 0;
  animation: down 4s infinite;
}

.page-down p {
  margin-bottom: -10px;
  font-size: 1.3rem;
  text-align: center;
}

.page-down i {
  font-size: 4rem;
}

@keyframes down {
  0% { top: 20px; }
  50% { top: 0; }
  100% { top: 20px;}
}

textarea {
  min-height: 100px;
}

section[data-level] {
  display: none;
  overflow: hidden;
}

section[data-level="0"] {
  display: block;
}

@media screen and (max-width: 39.9375em) {
  #responsive-menu {
    width: calc(100% + 20px);
    background-color: rgba(0,0,0,.7);
    margin: 11px -10px 0 -10px;
  }

  header .menu {
    flex-direction: column;
  }

  .page-inner > .row {
    padding-top: 70px;
  }
}
.google-map {
  min-height: 200px;
}

.contact-form button {
  vertical-align: baseline;
}

.contact-form-message {
  margin-left: 5px;
  display: inline-block;
  opacity: 0;
  transition: opacity .2s ease;
}

.contact-form-message.success {
  color: #5da423;
}

.contact-form-message.error {
  color: #c60f13;
}

.button {
  min-width: 100px;
  text-align: center;
}

.button .fa {
  display: none;
}

.button.loading span {
  display: none;
}

.button.loading .fa {
  display: inline-block;
}